@font-face {
    font-family: "Helvetica Neue";
    src: url(./fonts/helvetica-neue.ttf)
}

.header {
    top: 0px;
    left: 0px;
    width: 100%;
    background: #707070 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;
    align-content: center;
    font-family: "Helvetica Neue";
    color: #FFFFFF;
}
.titles{
    margin-top: 69px;
    text-align: center;
}
.header h1 {
    font-weight: bold;
    text-align: center;
    font: Bold 40px/49px Helvetica Neue;
    letter-spacing: 0;
    margin-bottom: 0px
}
.header h2 {
    font: 20px/24px Helvetica Neue;
    letter-spacing: 0;
    margin-bottom: 0px;
}
.header p {
    margin-top: 24px;
    text-align: center;
    font: 14px/16px Helvetica Neue;
    letter-spacing: 0;
}
.header-buttons {
    margin-top: 50px;
    margin-bottom: 39.33px;
    text-align: center;
}
.header button {
    font: 14px/16px Helvetica Neue;
    letter-spacing: 0;
    color: #888888;
    margin: 0px 20px;
    width: 160px;
    height: 40px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 1px 6px #00000029;
    border: 1px solid #707070;
    border-radius: 4px;
}

.store {
    width: 70%;
    margin: 40.67px 15% 164px;
    text-align: center;
    align-content: center;
    
}

.store h2 {
    margin-bottom: 50px;
    font: Bold 18px/16px Helvetica Neue;
    letter-spacing: 0;
    color: #888888;
}

.product {
    animation: fadein 1s;
    width: 200px;
    margin: 0px 0px 39px;
    font-family: Helvetica Neue;
    color: #888888;
    letter-spacing: 0;
    text-align: left;
}

.product-img {
    width: 100%;
    height: 150px;
    margin-bottom: 14px;
}

.product h5 {
    font-size: 14px;
    line-height: 16px;
    text-align: left;
    margin-bottom: 10px;

}

.product-description {
    margin-bottom: 16px;
    text-align: left;
    font: 12px/16px Helvetica Neue;
    letter-spacing: 0;
    color: #888888;
    opacity: 1;
}

.product-old-price {
    margin-bottom: 6px;
    text-align: left;
    font: 12px/16px Helvetica Neue;
    letter-spacing: 0;
    color: #888888;
    opacity: 1;
}

.product-price {
    margin-bottom: 7px;
    font: Bold 16px/16px Helvetica Neue;
    letter-spacing: 0;
    color: #888888;
    opacity: 1;
}

.installments {
    font: Regular 12px/16px Helvetica Neue;
    letter-spacing: 0;
    color: #888888;
    opacity: 1;
}

.product button {
    width: 100%;
}

.share-section {
    text-align: center;
    margin-bottom: 142.36px;
    letter-spacing: 0;
    color: #888888;
    opacity: 1;
    font-family: Helvetica Neue;
}
.share-section h3 {
    font-weight: bold;
    margin-bottom: 44px;
}
.share-section p {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 0px;
}
.share-inputs {
    text-align: left;
    width: 340px;
    margin: 34px 20px 50px;
} 
.share-section input {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
}
.share-section button {
    width: 260px;
    height: 39px;
    border: 1px solid #707070;
    border-radius: 4px;
}
.share-section label {
    margin-bottom: 0px;
    font-size: 12px;
    line-height: 14px;
}

#nextPage {
    width: 260px;
    height: 39px;
    margin-top: 15px;
    font: 16px/16px Helvetica Neue;
    letter-spacing: 0;
    opacity: 1;
}

.footer {

    background: #707070 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;
    width: 100%;
    height: 201px;

}
.footer div {
    text-align: center;
    margin-top: 64.64px;
}

.footer small {
    font: 12px/18px Helvetica Neue;
    letter-spacing: 0;
    color: #FFFFFF;
    line-break: loose;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}